<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Travel New Way to Travel</title>
    <link rel="icon" href="/img/BudgetTravel.png" type="brand image">
    <meta name="description"
        content="As a young software engineer, Esad Abdullah Kösedağ specializes in software development and artificial intelligence.">
    <link rel="stylesheet" href="/css/style.css" />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--<script>
                    window.jQuery ||
                      document.write(
                        decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E')
                      );
               </script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

</head>

<body>


    <header class="main-header">
        <nav class="nav-container">
            <div class="logo">
                <a href="/">BudgetTravel</a>
            </div>

            <button class="hamburger-menu" id="hamburgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="nav-menu" id="navMenu">
                <ul class="nav-links">
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="/routes">Rotalar</a></li>
                    <li><a href="/destinations">Destinasyonlar</a></li>
                    <li><a href="/contact">İletişim</a></li>
                </ul>
            </div>

            <div class="nav-right">
                <div class="app-buttons">
                    <a href="#" class="app-button android">
                        <i class="fab fa-android"></i>
                        <span>Android</span>
                    </a>
                    <a href="#" class="app-button ios">
                        <i class="fab fa-apple"></i>
                        <span>iOS</span>
                    </a>
                </div>
                <div class="rainbow-buttons">
                    <a href="/signin" class="rainbow-button signin">
                        <i class="fas fa-sign-in-alt"></i>
                        Giriş Yap
                    </a>
                    <a href="/signup" class="rainbow-button signup">
                        <i class="fas fa-user-plus"></i>
                        Kayıt Ol
                    </a>
                </div>
                <div class="search-container">
                    <button class="search-toggle" id="searchToggle">
                        <i class="fas fa-search"></i>
                    </button>
                    <div class="search-box" id="searchBox">
                        <input type="text" placeholder="Ara...">
                        <button class="search-close" id="searchClose">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <a href="/account" class="account-icon">
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </nav>
    </header>
    

</body>

</html>